  body{
  color: #EAEAEA; 
  background-color: #4db8ff;
  background-image: url("images/background-image.png");
  text-align: center;
}

h1{
  color: #EAEAEA;
  font-family: 'Raleway', sans-serif; 
  font-size: ;
  line-height: 80%;
  text-align: center;
}

h2{
  color: #EAEAEA;
  font-size: ;
  font-family: 'Raleway', sans-serif; 
  line-height: 80%;
  text-align: center;
}

h3{
  color: #EAEAEA;
  font-size:  ;
  font-family: 'Raleway', sans-serif; 
  line-height: 80%;
  text-align: center;
}

p{
  color: #EAEAEA;
  font-size:  ;
  font-family: 'open-sans', sans-serif; 
  line-height:;
  text-align: center;
}

.list-in-line{ 
  list-style-type: none;
  line-height: 200%;
}
.list-in-line li {
  display: inline-block;
}
.list-in-line li a {
  color: #66666E;
  font-size: 200%;
  white-space: 10px;
  font-family: 'open-sans', sans-serif; 
  line-height:;
  text-decoration: underline;
}

a:hover { 
    background-color: #EAEAEA;
}
.container {
  width: 700px;
  margin: 0 auto;
}
.card {
  border: 2px solid #EAEAEA;
  border-radius: 12px ;
  width: 600px;
  padding-top : 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(255,255,255,.3);
}
.card p h1 h2 h3{
}

.round-picture{
  border-radius: 50%;
}

.cut-borders{
  border-radius:6px;
}